<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
	    <tr th:each="customer: ${customers}">
		    <td th:text="${customer.id}" />
		    <td th:text="${customer.firstName}" />
		    <td th:text="${customer.lastName}" />
		</tr>
    </table>


<p th:text="'Total number of customers: ' + ${count} + '!'" />

</body>
</html>